# Polish police statistics

This script collects data from Polish police website: http://slaska.policja.gov.pl/kat/form/23,Statystyki.html.

## Web Scraping

In [3]:
from urllib.request import urlopen
from urllib.error import HTTPError
from bs4 import BeautifulSoup
import csv

URL = 'http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page='
RANGE = 93
CSV = '../data/slask-police.csv'

header = []
rows = []

def scrape_page(html):
    tbody = BeautifulSoup(html.read(), "html.parser").tbody
    for tr in tbody.findAll('tr'):
        if tr.th:
            if not header:
                for th in tr.findAll('th'):
                    header.append(th.get_text())
        if tr.td:
            row = []
            for td in tr.findAll('td'):
                row.append(td.get_text())
            rows.append(row)

for i in range(RANGE):
    try:
        url = URL + str(i)
        print('Open page', url)
        html = urlopen(url)
    except HTTPError as e:
        print(e)
    else:
        scrape_page(html)
     
rows.insert(0, header)

with open(CSV, "w") as f:
    writer = csv.writer(f)
    writer.writerows(rows)

Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=0
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=1
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=2
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=3
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=4
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=5
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=6
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=7
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=8
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=9
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=10
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=11
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=12
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=13
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=14
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=15
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=16
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=17
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=18
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=19
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=20
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=21
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=22
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=23
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=24
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=25
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=26
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=27
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=28
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=29
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=30
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=31
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=32
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=33
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=34
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=35
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=36
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=37
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=38
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=39
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=40
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=41
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=42
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=43
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=44
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=45
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=46
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=47
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=48
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=49
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=50
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=51
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=52
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=53
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=54
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=55
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=56
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=57
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=58
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=59
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=60
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=61
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=62
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=63
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=64
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=65
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=66
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=67
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=68
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=69
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=70
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=71
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=72
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=73
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=74
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=75
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=76
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=77
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=78
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=79
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=80
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=81
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=82
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=83
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=84
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=85
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=86
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=87
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=88
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=89
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=90
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=91
Open page http://slaska.policja.gov.pl/kat/form/23,Statystyki.html?page=92

# Check csv file

In [4]:
import pandas as pd
df1 = pd.read_csv(CSV, parse_dates=['Data'], dayfirst=True, index_col='Data')
df1

,Rozboje,Bójki i pobicia,Kradzieże z włamaniem,Kradzieże,Wypadki drogowe,Zabici w wypadkach,Ranni w wypadkach,Nietrzeźwi kierujący,Kolizje drogowe
Data,,,,,,,,,
2016-03-28,1,6,21.0,8,3,0,4,16,53
2016-03-27,2,1,11.0,9,2,0,4,17,42
2016-03-26,2,2,13.0,15,10,0,12,21,117
2016-03-25,3,3,24.0,30,4,1,3,19,142
2016-03-24,2,2,26.0,53,6,0,8,18,142
2016-03-23,0,0,18.0,36,5,0,10,17,162
2016-03-22,1,0,25.0,46,16,3,16,17,178
2016-03-20,5,3,18.0,23,1,0,2,28,77
2016-03-21,2,2,37.0,47,3,0,4,23,131
2016-03-19,5,3,28.0,34,5,0,7,17,117
2016-03-18,4,1,22.0,50,5,0,5,23,182
2016-03-17,1,1,33.0,49,6,0,6,23,164
2016-03-16,3,1,21.0,58,6,0,8,14,165
2016-03-15,3,1,18.0,49,8,1,9,13,186
2016-03-14,4,1,27.0,55,10,0,11,16,143
2016-03-13,6,6,20.0,29,8,0,10,24,66
2016-03-12,6,6,26.0,34,6,1,10,23,174
2016-03-11,5,1,29.0,50,7,0,7,22,175
2016-03-10,0,0,16.0,32,6,0,8,22,159
2016-03-09,1,0,21.0,45,6,2,4,17,121
2016-03-08,1,0,31.0,48,5,0,6,26,136
2016-03-07,4,2,29.0,51,7,0,7,11,161
2016-03-03,3,1,28.0,39,6,1,5,19,148
2016-03-04,2,0,30.0,56,4,0,4,19,148
2016-03-05,3,6,28.0,43,2,0,2,24,94
2016-03-06,2,1,16.0,22,1,0,1,23,63
2016-03-02,3,0,18.0,38,5,0,5,21,179
2016-03-01,2,1,25.0,50,8,1,8,8,216
2016-02-29,2,2,30.0,68,7,2,5,21,186
2016-02-28,3,2,14.0,31,5,1,4,22,67
...,...,...,...,...,...,...,...,...,...
2008-04-29,7,2,42.0,102,14,0,19,25,152
2008-04-28,5,3,48.0,122,18,3,20,39,190
2008-04-27,10,8,35.0,40,13,1,13,41,95
2008-04-26,8,3,41.0,91,12,1,17,61,118
2008-04-25,15,7,40.0,98,19,2,19,35,176
2008-04-24,1,3,69.0,104,11,1,11,39,130
2008-04-23,5,6,59.0,108,7,0,7,28,156
2008-04-22,8,2,33.0,95,13,1,16,27,144
2008-04-21,6,7,80.0,104,12,2,20,33,162
2008-04-20,8,10,57.0,42,14,1,19,50,78
2008-04-19,9,6,34.0,70,8,0,15,97,152
2008-04-18,7,3,47.0,116,9,0,12,35,187
2008-04-17,4,3,60.0,103,12,0,12,29,140
2008-04-16,5,5,42.0,88,16,1,17,26,188
2008-04-15,11,5,51.0,113,16,1,16,34,168
2008-04-14,10,11,53.0,135,13,4,15,38,151
2008-04-13,12,8,38.0,44,16,1,20,41,64
2008-04-12,5,9,33.0,68,8,1,12,53,138
2008-04-11,8,7,48.0,92,24,1,25,48,138
2008-04-10,5,5,62.0,89,19,1,20,51,177
2008-04-09,6,2,46.0,104,19,3,24,35,129
2008-04-08,5,0,58.0,120,10,0,11,40,147
2008-04-07,7,7,56.0,133,12,1,15,32,161
2008-04-06,13,14,60.0,63,10,0,18,33,47
2008-04-05,14,4,49.0,88,6,0,9,42,64
2008-04-04,8,7,58.0,114,9,0,10,46,110
2008-04-03,3,1,44.0,98,9,0,10,31,144
2008-04-02,7,2,53.0,126,13,4,14,28,197
2008-04-01,11,8,57.0,110,13,1,11,32,140
2016-02-25,3,2,22.0,49,6,0,7,11,174

# Looking for duplicates

We can drop duplicates:

In [5]:
df2 = pd.read_csv(CSV, parse_dates=['Data'], dayfirst=True)
df3 = df2.drop_duplicates('Data', keep='last').set_index('Data') #done
print(len(df2), len(df3))

2776 2767

Or we can list all rows witch are duplicated:

In [6]:
df2['is_duplicated'] = df2.duplicated('Data', keep=False)
df2[(df2["is_duplicated"] == True)]

,Data,Rozboje,Bójki i pobicia,Kradzieże z włamaniem,Kradzieże,Wypadki drogowe,Zabici w wypadkach,Ranni w wypadkach,Nietrzeźwi kierujący,Kolizje drogowe,is_duplicated
32,2016-02-25,2,3,22.0,49,6,0,7,11,174,True
39,2016-02-18,2,1,26.0,52,3,1,2,13,154,True
40,2016-02-18,3,1,27.0,40,1,0,1,12,93,True
163,2015-10-11,3,4,20.0,27,3,0,4,36,65,True
164,2015-10-11,2,1,25.0,44,9,0,15,19,134,True
175,2015-09-28,4,1,23.0,51,10,1,11,13,143,True
176,2015-09-28,5,3,47.0,58,12,1,13,23,147,True
187,2015-09-17,1,5,35.0,48,10,1,8,23,191,True
188,2015-09-17,1,1,19.0,56,4,0,4,26,143,True
706,2014-03-28,1,5,36.0,59,12,2,15,16,139,True
734,2014-03-28,1,3,46.0,79,15,1,15,69,157,True
910,2013-08-29,5,2,41.0,98,12,0,18,12,144,True
911,2013-08-29,5,2,41.0,98,12,0,18,12,144,True
1439,2012-02-08,5,3,42.0,86,6,0,12,12,121,True
1440,2012-02-08,5,3,42.0,86,6,0,12,12,121,True
2075,2010-04-02,8,4,58.0,94,7,1,10,58,162,True
2076,2010-04-02,8,4,58.0,94,7,0,10,58,162,True
2775,2016-02-25,3,2,22.0,49,6,0,7,11,174,True